<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="/users/add" method="post">
  <input type="text" name="name" placeholder="please input name"><br>
  <input type="text" name="surname" placeholder="please input surname"><br>
  <input type="text" name="email" placeholder="please input name"><br>
  <select name="role">
    <option value="MANAGER">MANAGER</option>
    <option value="USER">MANAGER</option>
  </select><br>
    <input type="submit" value="add user">

</form>

</body>
</html>