<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Users</title>
</head>
<body>


<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>surname</td>
        <td>email</td>
        <td>role</td>
    </tr>

    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.role.name()}"></td>

    </tr>

</table>

</body>
</html>